.newProduct_items_title {
  .text {
    p {
      color: #949494;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .title {
    h3 {
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    span {
      p {
        color: #949494;

        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      select {
        padding: 8px 10px;
        border: 1px solid #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
